html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
}

.sidebar {
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    padding: 20px;
    overflow: scroll;
    background-color: rgba(255,255,255,0.5);
}

#search {
    width: 100%;
}

#pano {
    width: 310px;
    height: 200px;
}